[Unit]
Description=Setup Systemd script for JFROG Mission Control 
After=network.target

[Service]
Environment="ARTIFACTORY_HOME=/opt/artifactory"
Environment="ARTIFACTORY_USER=artifactory"
Environment="START_LOCAL_REPLICATOR=true"
Environment="TOMCAT_HOME=/opt/artifactory/tomcat"
Environment="ARTIFACTORY_PID=/opt/artifactory/run/artifactory.pid"
Environment="CATALINA_BASE=/opt/artifactory/tomcat"
Environment="CATALINA_HOME=/opt/artifactory/tomcat"
Environment="CATALINA_TMPDIR=/opt/artifactory/tomcat/temp"
Environment="JRE_HOME=/usr"
Environment="CLASSPATH=/opt/artifactory/tomcat/bin/bootstrap.jar:/opt/artifactory/tomcat/bin/tomcat-juli.jar"
Environment="CATALINA_PID=/opt/artifactory/run/artifactory.pid"
Environment="JAVA_OPTIONS=-server -Xms512m -Xmx4g -Xss256k -XX:PermSize=128m -XX:MaxPermSize=256m -XX:+UseG1GC"

Type=forking
GuessMainPID=yes
Restart=always
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
User=artifactory
Group=artifactory
ExecStart=/opt/jfrog/mc/app/bin/mc.sh start
ExecStop=/opt/jfrog/mc/app/bin/mc.sh stop

[Install]
WantedBy=multi-user.target
Alias=jfrog-mc.service
