[Unit]
Description=Setup Systemd script for JFROG Mission Control 
After=network.target

[Service]
Type=forking
GuessMainPID=yes
Restart=always
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
User=artifactory
Group=artifactory
ExecStart=/opt/jfrog/mc/app/bin/mc.sh start
ExecStop=/opt/jfrog/mc/app/bin/mc.sh stop

[Install]
WantedBy=multi-user.target
Alias=jfrog-mc.service
