[Unit]
Description=Looks and smells like Sonarr but made for music. http://lidarr.audio/.
After=syslog.target network.target network-online.target

[Service]
User=lidarr
Group=lidarr

Type=simple
ExecStart=/usr/share/work/Lidarr/lidarr/Lidarr --DataFolder /var/lib/lidarr --IgnoreSslErrors true
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
