[Unit]
Description=Setup Systemd script for Artifactory in Tomcat Servlet Engine
After=network.target

[Service]
Type=forking
GuessMainPID=yes
Restart=always
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
ExecStart=/opt/artifactory/bin/artifactoryManage.sh start
ExecStop=/opt/artifactory/bin/artifactoryManage.sh stop

[Install]
WantedBy=multi-user.target
Alias=artifactory.service
