[Unit]
Description=Setup Systemd script for Artifactory in Tomcat Servlet Engine
After=network.target

[Service]
Environment="JAVA_OPTIONS=-server -Xms512m -Xmx4g -Xss256k -XX:PermSize=128m -XX:MaxPermSize=256m -XX:+UseG1GC"
Type=forking
GuessMainPID=yes
Restart=always
RestartSec=60
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
#User=artifactory
#Group=artifactory
PIDFile=/var/run/artifactory.pid
ExecStart=/opt/jfrog/artifactory/app/bin/artifactoryManage.sh start
ExecStop=/opt/jfrog/artifactory/app/bin/artifactoryManage.sh stop

[Install]
WantedBy=multi-user.target
Alias=artifactory.service
