[Unit]
Description=HHVM FastCGI daemon
After=network.target

[Service]
User=hhvm
Environment=CONFIG_FILE=/etc/hhvm/server.ini
Environment=SYSTEM_CONFIG_FILE=/etc/hhvm/php.ini
EnvironmentFile=-/etc/conf.d/hhvm
ExecStart=/usr/bin/hhvm --config ${SYSTEM_CONFIG_FILE} --config ${CONFIG_FILE} --mode server
ExecStartPre=/bin/rm -f /var/run/hhvm/hhvm.sock
Restart=on-failure

[Install]
WantedBy=multi-user.target
